---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Home | Raktopia.de | Minecraft Server">
  <div class="navbar flex-row">
    <div class="navbar-start">
      <button class="btn bg-base-200/50 hidden md:flex">
        <Icon class="text-blue-500" name="mdi:minecraft" />
      </button>
    </div>
    <div class="navbar-center">
      <img
        class="w-screen md:h-40 md:w-auto"
        src="https://github.com/Raktopia/raktopia.de/assets/41999358/b906e9c1-5cec-49c0-9430-88bb331c5d7e"
      />
    </div>
    <div class="navbar-end"></div>
  </div>
</Layout>
