---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { Icon } from "astro-icon";
---

<!doctype html>
<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="RakTopia Dein Minecraft Netzwerk" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar backdrop-blur-sm bg-base-300/30 fixed">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <button
          onclick="
          window.location.href = '/';
          "
          class="btn bg-purple-700 font-bold"
        >
          <Icon name="ic:round-home" class="w-5" />
           Home
        </button>

      </div>
      <div class="navbar-end"></div>
    </div>
    <div class="p-5 pt-[4rem]">
      <slot />
    </div>
  </body>
</html>
